body {
    background-color: black;
}
a {
    text-decoration: none;
}
.form-control {
    margin-top: 60px;
    text-align: center;
}
.out {
    color: green;
    font-size: 30px;
    font-family: monospace;
}